body {
    margin: 0;
}

#topBar {
    height: 100px;
}


#page {
    position: absolute;
    top: 0;
    left: 0;
    height: 1080px;
    width: 1920px;
}

.background {
    z-index: -1;
    position: absolute;
}

#topBar h1 {
    font-size: 23px;
    color: #ffffff;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'nasalizationregular', sans-serif;
}

#topBar h2 {
    font-size: 35px;
    color: #00ffd2;
    margin-top: 55px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'rainfallblack', sans-serif;
}

.scoreArea {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game {
    height: 970px;
    width: 1900px;
    left: 50%;
    transform: translateX(-50%);
//    background-color: rgba(248,248,248,0.5);
    top: 100px;
    position: absolute;
    clip: auto;
    overflow: hidden;
}

.dividingBar {
    width: 70px;
}

.shooter {
    position: absolute;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#footerBar {
    height: 370px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.charlie {
    height: 170px;
    left: 650px;
    top: 150px;
    position: absolute;
}

