body {
    margin: 0;
}

#topBar {
    height: 100px;
    font-family: 'nasalizationregular', sans-serif;
    ;
}

#page {
    position: absolute;
    background-color: rgba(205, 21, 63, 0.2);
    top: 0;
    left: 0;
    height: 1080px;
    width: 1920px;
}

#board {
    position: absolute;
    top: 0;
    height: 780px;
    width: 1920px;
}

.background {
    z-index: -1;
    position: absolute;
}

.scoreArea {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game {
    height: 970px;
    width: 1900px;
    left: 50%;
    transform: translateX(-50%);
    // background-color: rgba(248,248,248,0.5);
    top: 100px;
    position: absolute;
    clip: auto;
    overflow: hidden;
}

.dividingBar {
    position: absolute;
    width: 100%;
    top: 630px;
    left: 50%;
    transform: translateX(-50%);
}

.shooter {
    position: absolute;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transform-origin: center bottom;
    // animation: rotation infinite 2s;
}

.base {
    position: absolute;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#footerBar {
    height: 370px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.charlie {
    height: 170px;
    left: 645px;
    top: 150px;
    position: absolute;
    z-index: 10;
    animation: float 4s infinite ease-in-out;
}

.shadow {
    height: 15px;
    left: 640px;
    top: 310px;
    position: absolute;
    transform: scale(1);
    animation: shadowMoving 4s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes shadowMoving {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.15);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


#topBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

#topLevelLabel,
#level,
#bubblesRemainingLabel,
#bubblesRemaining,
#topScoreLabel,
#score {
    font-family: 'nasalizationregular', sans-serif;
    color: rgba(254, 254, 254, 1.0);
    font-size: 30px;
    display: inline-block;
    margin: 5px 30px;
    text-align: center;
}

#level {
    font-size: 50px;
    color: #00ffd2;
}

#bubblesRemaining {
    font-size: 50px;
    color: #d13135;
}

#score {
    font-size: 50px;
    color: #ffce00;
}

#endScreen {
    display: none;
}

//START GAME SCREEN---------------------------
.dialog {
    position: absolute;
    z-index: 200;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    text-align: center;
}

.playButton {
    background-color: rgba(253, 255, 2, 1);
    width: 30%;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 30px;
    border: 1px solid rgba(254, 254, 254, 1);
    position: absolute;
    ;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center center;
}

.playButton h1 {
    font-family: 'nasalizationregular', sans-serif;
    font-size: 40px;
    margin-top: 0;
}

.playButton:hover {
    transform: translateX(-50%) scale(1.1);
    color: #0ae5bb;
    border: 1px solid #0ae5bb;
    transition: all .3s;
}
